@keyframes lukeFall {
  0% {
    opacity: 0;
    transform: translateY(-20rem); }
  80% {
    transform: translateY(2rem); }
  100% {
    transform: translateY(0); } }

@keyframes mikeSlide {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes mikeHeart {
  0% {
    opacity: 1;
    transform: scale(0.7); }
  100% {
    transform: scale(1.2);
    opacity: 1; } }

@keyframes mikeMouth {
  0% {
    width: 70%;
    height: 2rem;
    border-radius: 5px; }
  100% {
    border-radius: 50%;
    width: 40%;
    height: 40%; } }

@keyframes mikeMouthSmile {
  100% {
    width: 60%;
    height: 40%;
    border-radius: 5px 5px 50% 50%; } }

@keyframes mikeArmL {
  0% {
    transform-origin: top;
    transform: rotate(0); }
  100% {
    transform-origin: top;
    transform: rotate(190deg); } }

@keyframes mikeArmLUp {
  0% { }
  100% {
    transform-origin: top;
    transform: rotate(135deg); } }

@keyframes mikeArmR {
  0% {
    transform-origin: top;
    transform: rotate(0); }
  100% {
    transform-origin: top;
    transform: rotate(-190deg); } }

@keyframes mikeArmRUp {
  0% { }
  100% {
    transform-origin: top;
    transform: rotate(-135deg); } }

@keyframes shrink {
  0% { }
  100% {
    transform: scale(0.8); } }

@keyframes grow {
  to {
    transform: scale(1.1); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  box-sizing: border-box; }

.container {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(0, 153, 255, 0.9), rgba(191, 230, 255, 0.9)), url("../img/pattern.png");
  background-position: top;
  background-size: cover;
  padding: 3rem; }

.robots {
  display: flex;
  justify-content: space-around;
  min-height: 75vh;
  align-items: center; }

.reset {
  display: inline-block;
  background-color: rgba(191, 230, 255, 0.6);
  border-radius: 5px;
  position: fixed;
  top: 3rem;
  left: 3rem; }
  .reset__icon {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 2rem;
    font-size: 4rem;
    color: #FFF;
    transition: transform .3s ease-out;
    z-index: 1; }
  .reset:hover > .reset__icon {
    transform: rotate(270deg); }

.theme-checkbox {
  opacity: 0;
  visibility: hidden;
  position: absolute; }
  .theme-checkbox:checked ~ .container {
    background-image: linear-gradient(to right, rgba(153, 255, 0, 0.9), rgba(102, 0, 255, 0.9)), url("../img/pattern.png"); }
    .theme-checkbox:checked ~ .container .reset {
      background-color: rgba(102, 0, 255, 0.6); }

.theme-btn {
  display: block;
  position: fixed;
  top: 5rem;
  right: 3rem;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: all .4s ease; }
  .theme-btn::after {
    content: '';
    display: inline-block;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(191, 230, 255, 0.6);
    opacity: 0;
    transition: all .4s ease; }

.theme-btn:hover::after {
  opacity: 1;
  background-color: rgba(102, 0, 255, 0.6); }

.theme-checkbox:checked + .theme-btn {
  border: 5px solid rgba(255, 255, 255, 0.6); }
  .theme-checkbox:checked + .theme-btn:hover::after {
    opacity: 1;
    background-color: rgba(191, 230, 255, 0.6); }

.container {
  text-align: center; }

h1 {
  font-family: 'Expletus Sans', sans-serif;
  font-size: 4rem;
  color: #FFF;
  font-weight: 700;
  letter-spacing: .75rem;
  text-transform: uppercase;
  background-color: rgba(191, 230, 255, 0.6);
  padding: 1rem 2rem;
  display: inline-block;
  text-shadow: 0.3rem 0.3rem 1.5rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  margin-bottom: 6rem;
  line-height: 1.4; }

.theme-checkbox:checked ~ .container h1 {
  background-image: linear-gradient(to right bottom, rgba(102, 0, 255, 0.6), rgba(102, 0, 255, 0.3)); }

.android-luke {
  animation: lukeFall 2s ease-in-out; }
  .android-luke .head,
  .android-luke .left_arm,
  .android-luke .torso,
  .android-luke .right_arm,
  .android-luke .left_leg,
  .android-luke .right_leg {
    background-color: #6600FF; }
  .android-luke .head {
    width: 20rem;
    margin: 0 auto;
    height: 20rem;
    border-radius: 20rem 20rem 15px 15px;
    margin-bottom: 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 2rem;
    transform: rotate(-15deg) translateY(-2rem); }
  .android-luke .eyes {
    flex: 100%;
    display: flex;
    justify-content: space-around; }
  .android-luke .left_eye,
  .android-luke .right_eye {
    width: 2rem;
    height: 2rem;
    border-radius: 1.5rem;
    background-color: #FFF;
    position: relative; }
  .android-luke .left_eye::after,
  .android-luke .right_eye::after {
    content: '';
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: #0099FF;
    position: absolute;
    top: 100%;
    -webkit-clip-path: polygon(50% 0%, 62% 25%, 75% 46%, 78% 66%, 73% 83%, 55% 93%, 33% 84%, 28% 65%, 30% 46%, 40% 25%);
    clip-path: polygon(50% 0%, 62% 25%, 75% 46%, 78% 66%, 73% 83%, 55% 93%, 33% 84%, 28% 65%, 30% 46%, 40% 25%); }
  .android-luke .mouth {
    width: 10rem;
    height: 4rem;
    background-color: #FFF;
    border-radius: 50% 50% 10px 10px; }
  .android-luke .upper_body {
    width: 30rem;
    height: 15rem;
    display: flex; }
  .android-luke .left_arm,
  .android-luke .right_arm {
    width: 4rem;
    height: 12.5rem;
    border-radius: 10rem; }
  .android-luke .left_arm {
    margin-right: 1rem;
    transform: rotate(120deg) skewX(10deg);
    transform-origin: top; }
  .android-luke .left_arm::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1rem;
    position: absolute;
    bottom: 3rem;
    left: 0;
    background-color: #999; }
  .android-luke .left_arm::before {
    content: '';
    display: inline-block;
    width: 50%;
    height: 2rem;
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #CCC;
    border-radius: 50%;
    z-index: 1; }
  .android-luke .right_arm {
    margin-left: 1rem;
    transform: translate(2rem, 1rem) rotate(-145deg);
    transform-origin: top; }
  .android-luke .torso {
    width: 20rem;
    height: 20rem;
    border-radius: 5px 5px 5rem 5rem;
    transform: skewX(15deg) translateX(-2.5rem);
    transform-origin: top left; }
  .android-luke .lower_body {
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    display: flex; }
  .android-luke .left_leg,
  .android-luke .right_leg {
    width: 4rem;
    height: 12rem;
    border-radius: 0 0 10rem 10rem;
    position: relative; }
  .android-luke .left_leg::after,
  .android-luke .right_leg::after {
    content: '';
    width: 100%;
    height: 3rem;
    background-color: #FFF;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0; }
  .android-luke .left_leg {
    margin-left: 45px;
    transform: translate(-3rem, 4rem) rotate(-30deg); }
  .android-luke .right_leg {
    margin-left: 3rem;
    transform-origin: bottom right;
    transform: rotate(145deg); }
  .android-luke:target .head {
    transform: rotate(0) translateY(0);
    transition: all .4s ease; }
  .android-luke:target .torso {
    transform: skewX(0) translateX(0);
    transition: all .4s ease .4s; }
  .android-luke:target .right_arm {
    transform: translate(0, 0) rotate(0);
    transition: all .4s ease .8s; }
  .android-luke:target .left_arm {
    transform: rotate(0);
    transition: transform .4s ease .8s; }
  .android-luke:target .left_leg {
    transform: translate(0, 0) rotate(0);
    transition: all .4s ease 1.2s; }
  .android-luke:target .right_leg {
    transform: rotate(0);
    transition: transform .4s ease 1.2s; }
  .android-luke:target .left_eye::after,
  .android-luke:target .right_eye::after {
    background-color: transparent;
    transition: background-color .4s ease 1.6s; }
  .android-luke:target .mouth {
    border-radius: 5px 5px 50% 50%;
    transition: border-radius .4s ease 2s; }

.android-mike {
  opacity: 0;
  animation: mikeSlide 2s ease 2s;
  animation-fill-mode: forwards; }
  .android-mike .head,
  .android-mike .left_arm,
  .android-mike .torso,
  .android-mike .right_arm,
  .android-mike .left_leg,
  .android-mike .right_leg {
    background-color: #99FF00; }
  .android-mike .head {
    width: 20rem;
    margin: 0 auto;
    height: 15rem;
    border-radius: 3rem;
    margin-bottom: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    animation: shrink .6s ease 4s;
    animation-fill-mode: forwards; }
  .android-mike .eyes {
    flex: 100%;
    display: flex;
    justify-content: space-around; }
  .android-mike .left_eye,
  .android-mike .right_eye {
    width: 2rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    background-color: #FFF; }
  .android-mike .mouth {
    width: 70%;
    background-color: #FFF;
    height: 2rem;
    border-radius: 5px;
    animation: mikeMouth .4s ease-in-out 4s;
    animation-fill-mode: forwards; }
  .android-mike .upper_body {
    width: 30rem;
    height: 15rem;
    display: flex; }
  .android-mike .left_arm,
  .android-mike .right_arm {
    width: 4rem;
    height: 12.5rem;
    border-radius: 1rem; }
  .android-mike .left_arm {
    margin-right: 1rem;
    animation: mikeArmL .4s ease-in 4s;
    animation-fill-mode: forwards; }
  .android-mike .right_arm {
    margin-left: 1rem;
    animation: mikeArmR .4s ease-in 4s;
    animation-fill-mode: forwards; }
  .android-mike .torso {
    width: 20rem;
    height: 20rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .android-mike__heart {
    text-decoration: none;
    display: inline-block;
    font-size: 10rem;
    color: #FF001B;
    opacity: 0;
    animation: mikeHeart 1.5s ease-in-out 4.8s infinite alternate;
    position: relative; }
    .android-mike__heart .save {
      font-size: 1.4rem;
      text-transform: uppercase;
      color: #FFF;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -30%);
      font-weight: 700; }
    .android-mike__heart:hover {
      animation-play-state: paused;
      color: #FF4054; }
  .android-mike .lower_body {
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    display: flex; }
  .android-mike .left_leg,
  .android-mike .right_leg {
    width: 4rem;
    height: 12rem;
    border-radius: 1rem; }
  .android-mike .left_leg {
    margin-left: 45px; }
  .android-mike .right_leg {
    margin-left: 3rem; }

.android-luke:target + .android-mike .left_arm {
  transform-origin: top;
  transform: rotate(190deg);
  animation: mikeArmLUp .4s 2s;
  animation-fill-mode: forwards; }

.android-luke:target + .android-mike .right_arm {
  transform-origin: top;
  transform: rotate(-190deg);
  animation: mikeArmRUp .4s 2s;
  animation-fill-mode: forwards; }

.android-luke:target + .android-mike .head {
  transform: scale(0.8);
  animation: grow .6s 2.2s;
  animation-fill-mode: forwards; }

.android-luke:target + .android-mike .mouth {
  border-radius: 50%;
  width: 40%;
  height: 40%;
  animation: mikeMouthSmile .4s 2.2s;
  animation-fill-mode: forwards; }

.android-luke:target + .android-mike .android-mike__heart {
  animation: none;
  display: none; }
