@keyframes lukeFall {
    0% {
        opacity: 0;
        transform: translateY(-20rem);
    }
    80% {
        transform: translateY(2rem);
    }
    100% {
        transform: translateY(0);
    }
}

// ============ MIKE ==============
@keyframes mikeSlide {
    0% {
        opacity: 0;
        transform: translateX(20rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes mikeHeart {
    0% {
        opacity: 1;
        transform: scale(.7);
    }
    100% {
        transform: scale(1.2);
        opacity: 1;
    }
}

@keyframes mikeMouth {
    0% {
        width: 70%;
        height: 2rem;
        border-radius: 5px;
    }
    100% {
        border-radius: 50%;
        width: 40%;
        height: 40%;
    }
}

@keyframes mikeMouthSmile {
    100% {
        width: 60%;
        height: 40%;
        border-radius: 5px 5px 50% 50%;
    }
}

@keyframes mikeArmL {
    0% {
        transform-origin: top;
        transform: rotate(0);
    }
    100% {
        transform-origin: top;
        transform: rotate(190deg);
    }
}

@keyframes mikeArmLUp {
    0% {
    }
    100% {
        transform-origin: top;
        transform: rotate(135deg);
    }
}

@keyframes mikeArmR {
    0% {
        transform-origin: top;
        transform: rotate(0);
    }
    100% {
        transform-origin: top;
        transform: rotate(-190deg);
    }
}

@keyframes mikeArmRUp {
    0% {
    }
    100% {
        transform-origin: top;
        transform: rotate(-120deg);
    }
}

@keyframes shrink {
    0% { }
    100% {
        transform: scale(0.8);
    }
}

@keyframes grow {
    to {
        transform: scale(1.1);
    }
}

